* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}



/* Navbar */
.topnav{
  overflow: hidden;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

.topnav div:first-child a:not(:first-child) {
  margin-top: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: #4a4a4a;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.topnav a:hover {
  color: black;
}

.topnav a.active {
  background-color: #f8f9fa;
  color: white;
}

.topnav .icon {
  display: none;
  padding: 5px 10px;
  border: 1px solid rgb(231, 231, 231);
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav div.icon {
    float: right;
    display: block;
    margin-right: 20px;

  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 18px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav div:first-child a:not(:first-child) {
    margin-top: 0px;
  }
}


/* Home Section */


#home-info {
  padding: 0;
  background: url('./assets/home-bg-one.jpg') repeat center;
  background-attachment: fixed;
  background-size: 1024px;
  position: relative;
}



.hero-container {
  text-align: center;
  background: rgba(0, 0, 0, .7);

  /* margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1; */
}

.hero-scroll {
  background: url("./assets/hero-scroll.png") no-repeat center;
  background-size: contain;
  font-size: 16px;
  padding: 10px 7px 8px;
  text-shadow: 0px 0px 0 #F4BC08;
  -webkit-text-stroke: 0px #4A4A4A;
  color: #4A4A4A;
  display: inline-block;
  font-weight: 1;
}

.hero-heading  {
  margin: 0 auto!important;
}

.hero-heading-link{
  text-decoration: none;
  
}

.hero-heading-link {
  font-size: 70px;
  color: #ffffff;
  -webkit-text-stroke: 1px #4A4A4A;
  text-shadow: 2px 2px 0 #F4BC08, 0px 0px 0 #F4BC08, 0px 0px 0 #F4BC08, 0px 0px 0 #F4BC08, 0px 0px 0 #F4BC08;
}


.hero-subheading {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}

.hero-bw-logo {
  max-width: 210px
}

.hero-img {
  width: 100%;
}

.hero-triangle {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 150px;
}

.img {
  vertical-align: middle;
  border-style: none;
}

@media screen and (min-width: 768px) {
  .hero-bw-logo {
    max-width: 315px;
  }
}

.intro-container {
  margin-left: 20%;
  margin-right: 20%;
}
.intro-section-home {
  padding: 60px 0;  
}

.panel-primary {
  background-color: #F4BC08;
}

.intro-header {
  font-size: 25px;
  color: #4a4a4a;
}

.intro-container p {
  padding-bottom: 30px;
}

.intro-container a {
  text-decoration: none ;
}

.marketing-section-header {
  color: #444;
}
/* Marketing Section */
@media screen and (min-width: 768px) {
  .marketing-section-header {
    font-size: 30px;
  }
}



.check-icon {
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  background: #F4BC08;
  color: white;
  font-size: 30px;
}

.ticket-list-contianer {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.tick-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.tick-list-item {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  color: #444;
}
.tick-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tick-list-holder li {
  list-style: none;
} 
.tick-list-holder span {
  font-size: 20px;
  font-weight: 800;
}

.testimony-holder {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.testimony {
  text-align: center;
  border-radius: 10px;
  background: #F4F4F4;
  margin-bottom: 20px;
  padding: 65px 20px 30px;
  flex: 1;
  margin-top: 50px;
  position: relative;
  width: 50%;
}

.testimony-img{
  width: 120px;
  margin-top: -30%;
}

.testimony-name {
  margin: 0;
  color: #007BFF;
  font-weight: 700;
  font-style: italic;
  font-size: 1.35rem;
}

/* Competetion Section */
.competetion-section{
  padding: 30px 0px;
}
.panel-secondary {
  background-color: #4A4A4A;
  color: #ffffff;
}
.lead {
  margin: 0 20%;
  font-size: 20px;
}
.largeContainer > div > div {
  width: 300px;
}
.largeContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

} 

.largeContainer h3 {
  font-size: 30px;
}
.competetion-section .heading {
  font-size: 40px;
  font-style: italic;
}
.competetion-section .lead {
  font-size: 20px;

}


/* Works Header */
.worksHeader {
  padding: 30px 0;
  background: rgba(0, 0, 0, .4);
}
.works-header-icon-container {
  width: 100%; 
  display: flex;
  justify-content: center;
}
.worksBullet img {
  width: 70px;
}
.works-header-icon-container > div {
  display: flex;
  margin: 0px 20px;
}

.worksHeader .heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.worksHeader .heading .heading{
  font-style: italic;
}

/* Timeline Section */

.timeline-section {
  padding: 30px 20%;

}

.timeline-section .media{
  margin: 0px 10px;
  display: flex;
  align-items: flex-start;
}

.timeline-section .media-body {
  margin-left: 20px;
}
.timeline-section .media-body .handle{
  font-size: 25px;
}
.timeline-section .media-body .handle ~ p{
  font-size: 18px;
}



.timeline-section .media-body div {
  border-bottom: 1px solid rgb(177, 172, 172);

}

.message-item {
  margin-bottom: 25px;
  margin-left: 40px;
  position: relative;
  color: #4a4a4a;
}

.message-item .message-inner {
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 0px;
  padding: 20px;
  position: relative;
}

.pageTitle {
  font-size: 30px;
  font-style: italic;
}

/* Footer Section */
.footer-container {
  background: #4a4a4a;
  font-size: 20px;
  color: rgb(240, 235, 235);
}

.footer-img {
  height: 50px;
}
.footer-img-mid {
  height: 100px;
}

.footer-container a {
  margin-left: 10px;
  color:  rgb(240, 235, 235);
}


.footer-container > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Utils */
.mx-auto {
  display: block;
  margin: auto;
}

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 30px;
}

.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}

.position-relative {
  position: relative !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  font-family: 'NexaRustSans-Black';
  font-size: 1.125rem;
  padding: 10px;
  white-space: normal;
  line-height: 1.5;
  border-radius: 0.25em;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  background-color: #056bd8;
  border-color: #056bd8;  
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fw-600 {
  font-weight: 600;
}



.text-white {
  /* color: white; */
}